<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomConfigurationSection" type="RegularExpressions.Configuration.CustomConfigurationSection, RegularExpressions"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <CustomConfigurationSection appName="MyApp">
    <FileFormatStringInfo stringFormat= "Name ={0}, file extensional = {1}, size = {2}"/>
    <FileFormatStringInfoSubstring stringFormat= "lN ={0}, Start index= {1}, Text = {2}"/>
    <FileFormatStringResult stringFormat= "Number of Russian sumbols = {0}, the {1} symbols can be reaplaced"/>
    <SaveToBackupFolder destinationPath="D:\Backup" enable="true"/>
    <SaveChanges enable="true"/>
  </CustomConfigurationSection>
</configuration>